:root{
    --transition-counter-bg: #5a4835;
    --counter-bg: #5a4835;
    --counter-color: #fff;
    --counter-radius: 5px;
    --counter-line-bg: #5a4835;
    --counter-line-size: 0.1px;
    --invitation-bg : #ffffff;
    --bs-primary:#306FB6;
    --bs-primary-hover:#27507e;  
    --bs-primary-light:#ffffff; 
    --bs-secondary: #306FB6;
    --bs-secondary-hover: #27507e;
    --bs-secondary-light: #dde9ff;
}